/********************
*
*    CHAT BODY
* 
*********************/
body {
  background:#FEFEFE;
  color:#333;
  font-size:24px;
}
img {
  max-width:100%;
}
.message-list {
  position:relative;
  margin:0 0 60px 0;
  padding:0;
  list-style:none;
}
.message {
  padding: 0.4em 0.8em 0;
  line-height: 1.5;
  font-weight: 100;
  &.notification {
    text-align:center;
    color: #999;
    font-size: 16px;
    font-weight: 100;
    &--total-number {
      padding-top: 0;
    }
  }
}
.user {
  font-weight: bold;
  padding-right: 10px;
}

/********************
*
*    CHAT FORM
* 
*********************/
.form {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333745;
  padding: 5px;
  box-sizing: border-box;
  &__input {
    font-size: 24px;
    width: 90%;
    display: block;
    float: left;
    padding: 0;
    padding: 7px;
    background-color: #ECF0F1;
    border: none;
    box-sizing: border-box;
    outline: none !important;
  }
  &__button {
    font-size: 24px;
    width: 10%;
    display: block;
    float: left;
    padding: 7px;
    background-color: #77C4D3;
    color: white;
    border: none;
  }
}
@media (max-width: 680px) {
  .form__button {
    display: none;
  }
  .form__input {
    width: 100%;
  }
}
