/********************
*
*    CHAT BODY
* 
*********************/
body {
  background:#FEFEFE;
  color:#333;
  font-size:24px;
}
img {
  max-width:100%;
}
.sidebar {
  position: fixed;
  left: 0;
  width: 20%;
  height: 100%;
  overflow: scroll;
  background-color: #ECF0F1;
}
.person {
  font-weight: map-get($font-weight, normal);
  padding: 10px;
  color: #6C7491;
  border-bottom: 1px solid #FEFEFE;
}
.messages-wrapper {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 20%;
  background-color: #FEFEFE;
  z-index: 0;
  &.active {
    z-index: 1;
  }
}
.message-list {
  position:relative;
  margin:0 0 60px 0;
  padding:0;
  list-style:none;
}
.message {
  padding: 0.4em 0.8em 0;
  line-height: 1.5;
  font-weight: map-get($font-weight, normal);
  &.notification {
    text-align:center;
    color: #999;
    font-size: 16px;
    font-weight: map-get($font-weight, light);
    &--total-number {
      padding-top: 0;
    }
  }
}
.user {
  font-weight: map-get($font-weight, black);
  padding-right: 10px;
}

/********************
*
*    CHAT FORM
* 
*********************/
.chat-form {
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 20%;
  background-color: #333745;
  padding: 5px;
  box-sizing: border-box;
  &__input {
    font-size: 24px;
    width: 90%;
    display: block;
    float: left;
    padding: 0;
    padding: 7px;
    background-color: #ECF0F1;
    border: none;
    box-sizing: border-box;
    outline: none !important;
  }
  &__button {
    font-size: 24px;
    width: 10%;
    display: block;
    float: left;
    padding: 7px;
    background-color: #77C4D3;
    color: white;
    border: none;
  }
}
@media (max-width: 680px) {
  .form__button {
    display: none;
  }
  .chat-form__input {
    width: 100%;
  }
}
