/********************
*
*    LOGIN FORM
* 
*********************/
.login {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #333745;
	font-weight: map-get($font-weight, black);
	&__wrapper {
		width: 90%;
		position: absolute;
		top: 50%;
		left: 5%;
		transform: translateY(-50%);
	}
	&__label {
		font-size: 80px;
		color: #fafafa;
		text-align: center;
		text-transform: lowercase;
		display: block;
	}
	&__username {
		background-color: transparent;
		border: none;
		border-bottom: 2px solid #fafafa;
		outline: none;
		padding-top: 15px;
		text-align: center;
		width: 80%;
		display: block; 
		margin: 0 auto;
		color: #fafafa;
		font-size: 80px;
		margin-top: 40px;
	}
}